# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Turbo
.turbo

# Next.js
.next/
out/

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Android
*.iml
.gradle/
local.properties
.idea/
*.apk
*.aab
*.ap_
*.dex
/captures
.externalNativeBuild/
.cxx/
*.hprof

# Android Build
**/build/
!**/src/**/build/

# Kotlin
*.kotlin_metadata

# Signing
*.jks
*.keystore
release/
